<div class="cart container">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Sản Phẩm</th>
        <th>Hình Sản Phẩm</th>
        <th>Số Lượng</th>
        <th>Giá</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <!-- Sử dụng ngFor lặp qua ở đây -->
      <tr></tr>
    </tbody>
  </table>
  <div class="d-flex">
    <h5>Tổng Tiền:  </h5>
    <button class="btn btn-success" (click)="thanhtoan()">Thanh toán</button>
  </div>
</div>
