<div class="cart container">
  <div *ngIf="summary.carts.length > 0">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên Sản Phẩm</th>
          <th>Hình Sản Phẩm</th>
          <th>Số Lượng</th>
          <th>Giá</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sử dụng ngFor lặp qua ở đây -->
        <tr *ngFor="let item of summary.carts; let i = index">
          <td>{{ i + 1 }}</td>
          <td><b>{{ item.name }}</b></td>
          <td>
            <img src="/assets/images/{{ item.image}}" alt="">
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.price }}.000đ
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeCart(i)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="summary.carts.length == 0">
    <h3>Giỏ hàng của bạn chưa có sản phẩm nào</h3>
    <a [routerLink]="['/client/product']">Quay về để tiếp tục mua hàng</a>
  </div>
  <div class="d-flex">
    <h5>Tổng Tiền: {{ summary.totalAmount }}.000đ</h5>
    <button class="btn btn-success" (click)="thanhtoan()">Thanh toán</button>
  </div>
</div>
