.menu {
  height: 1000px;
  width: auto;
  margin: 30px 0;
  background-color: aquamarine;
  &__nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: -35px;
  }
}

.routerLinkActive {
  background-color: rgb(219, 12, 12);
  // color: rgb(219, 12, 12);
}
.showmenu {
  display: inline;
  position: relative;
  &:hover {
    .hidden-menu {
      display: block;
      position: absolute;
    }
  }
}
.hidden-menu {
  display: none;
}

a{
  text-decoration: none;
}

.title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
