<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 border sticky menu">
      <ul class="nav flex-column mt-5 menu__nav">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase btn btn-primary btn-lg text-light"
            [routerLink]="['/admin/dashboard']"
            routerLinkActive="routerLinkActive"
            >Doanh thu</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase btn btn-primary btn-lg text-light my-4"
            [routerLink]="['/admin/product']"
            routerLinkActive="routerLinkActive"
            >Sản Phẩm</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase btn btn-primary btn-lg text-light"
            [routerLink]="['/admin/order']"
            routerLinkActive="routerLinkActive"
            >Đơn Hàng</a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
