<div class="container">
  <div style="margin-top: 25px">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/slide/slide1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="/assets/slide/slide2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/slide/slide3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="home container-fluid ">
  <h1 class="home__title text-center">CAFFEE</h1>
  <div class="home__desc text-center">
    <p>Được kết hợp từ <b>Cloud</b> (đám mây) và <b>cofFee</b> (cà phê), <b>CloudFee</b> gợi mở <br>
      về một thế hệ cà phê mới, êm mượt như mây.</p>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="home__image">
      <img src="/assets/images/creme-brulee.jpg" alt="">
    </div>
    <div class="home__content ">
      <h5>CLOUDFEE</h5>
      <h2>Creme Brulee</h2>
      <p><b>Thức uống "chiều chuộng bản thân" bậc nhất</b> cho những ai thích vị ngọt <br> ngào hay muốn thưởng thức sự kết hợp độc đáo giữa món tráng miệng và <br> thức uống.</p>
      <button class="btn btn-warning">Thử ngay</button>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="home__content ">
      <h5>CLOUDFEE</h5>
      <h2>Creme Brulee</h2>
      <p><b>Thức uống "chiều chuộng bản thân" bậc nhất</b> cho những ai thích vị ngọt <br> ngào hay muốn thưởng thức sự kết hợp độc đáo giữa món tráng miệng và <br> thức uống.</p>
      <button class="btn btn-warning">Thử ngay</button>
    </div>
    <div class="home__image">
      <img src="/assets/images/creme-brulee.jpg" alt="">
    </div>
  </div>
</div>
