<div class="blogs">
  <div class="container">
    <h1 class="product__title text-capitalize fw-bold text-center my-3 text-info">Danh sách bài viết</h1>
    <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#addBlogs">Thêm Bài Viết Mới</button>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Thumbnail</th>
          <th>Date</th>
          <th>Hashtags</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of listBlogs" class="">
          <td>{{ blog.id }}</td>
          <td class="blogs__title">
            <p >{{ blog.title }}</p>
          </td>
          <td>
            <img src="/assets/blogs/{{blog.imagesThumbnails}}" class="blogs__image" alt="">
          </td>
          <td>{{ blog.date }}</td>
          <td>{{ blog.hashtags }}</td>
          <!-- <td>
            <div *ngFor="let image of blog.images">
              <img src="assets/blogs/{{image}}" style="width: 100%" alt="">
            </div>
          </td> -->
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-warning me-2" (click)="edit(blog)" data-bs-toggle="modal" data-bs-target="#editBlogs">Sửa Bài Viết</button>
              <button class="btn btn-danger" (click)="delete(blog.id, blog.title)">Xóa Bài Viết</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="addBlogs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" id="staticBackdropLabel">Thêm Bài Viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #frmAddBlogs="ngForm" (submit)="addProduct(frmAddBlogs)">
          <div class="mb-3">
            <label for="exampleInputName"  class="form-label"
              >Tiêu đề bài viết</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputName"
              [(ngModel)]="newBlogs.title"
              #title="ngModel"
              name="title"
              required
              minlength="4"
              maxlength="200"
            />
            <div *ngIf="title.invalid && title.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="title.errors?.['required']">Tiêu đề bài viết là bắt buộc</strong>
              <strong *ngIf="title.errors?.['minlength']">Tiêu đề bài viết tối thiểu 4 kí tự</strong>
              <strong *ngIf="title.errors?.['maxlength']">Tiêu đề bài viết tối đa 200 kí tự</strong>
            </div>
            <label for="exampleInputPhone" class="form-label"
              >Mô tả bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newBlogs.description"
              name="description"
              #description="ngModel"
              required
              minlength="9"
              maxlength="400"
            />
            <div *ngIf="description.invalid && description.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="description.errors?.['required']">Mô tả bài viết là bắt buộc</strong>
              <strong *ngIf="description.errors?.['minlength']">Mô tả bài viết tối thiểu 9 kí tự</strong>
              <strong *ngIf="description.errors?.['maxlength']">Mô tả bài viết tối đa 400 kí tự</strong>
            </div>
            <label for="" class="form-label"
              >Nội dung bài viết</label
            >
            <ckeditor [(ngModel)]="newBlogs.content" #content ="ngModel" name="content"></ckeditor>

            <label for="description" class="form-label"
              >Thời gian đăng</label
            >
            <input
              type="date"
              class="form-control"
              [(ngModel)]="newBlogs.date"
              name="date"
              #date="ngModel"
              required
            />
            <div *ngIf="date.invalid && date.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="date.errors?.['required']">Thời gian đăng bài là bắt buộc</strong>
            </div>

            <label for="hashtags" class="form-label"
              >Thẻ bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newBlogs.hashtags"
              name="hashtags"
              #hashtags="ngModel"
              required
            />
            <div *ngIf="hashtags.invalid && hashtags.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="hashtags.errors?.['required']">Thẻ bài viết là bắt buộc</strong>
            </div>

            <label for="hashtags" class="form-label"
              >Hình bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newBlogs.images"
              name="images"
              #images="ngModel"
              required
            />
            <div *ngIf="images.invalid && images.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="images.errors?.['required']">Hình bài viết là bắt buộc</strong>
            </div>
            <label for="hashtags" class="form-label"
              >Hình tiêu đề</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newBlogs.imagesThumbnails"
              name="imagesThumbnails"
              #imagesThumbnails="ngModel"
              required
            />
            <div *ngIf="imagesThumbnails.invalid && imagesThumbnails.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="imagesThumbnails.errors?.['required']">Hình tiêu đề là bắt buộc</strong>
            </div>
          </div>

          <button type="submit" class="btn btn-primary text-capitalize text-center">Thêm Bài Viết</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Add -->

<!-- Modal Edit -->
<div class="modal fade" id="editBlogs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" id="staticBackdropLabel">Chỉnh sửa Bài Viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #frmEditBlogs="ngForm" (submit)="handleEdit(frmEditBlogs)">
          <div class="mb-3">
            <label for="exampleInputName"  class="form-label"
              >Tiêu đề bài viết</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputName"
              [(ngModel)]="editBlogs.title"
              #title="ngModel"
              name="title"
              required
              minlength="4"
              maxlength="200"
            />
            <div *ngIf="title.invalid && title.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="title.errors?.['required']">Tiêu đề bài viết là bắt buộc</strong>
              <strong *ngIf="title.errors?.['minlength']">Tiêu đề bài viết tối thiểu 4 kí tự</strong>
              <strong *ngIf="title.errors?.['maxlength']">Tiêu đề bài viết tối đa 200 kí tự</strong>
            </div>
            <label for="exampleInputPhone" class="form-label"
              >Mô tả bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="editBlogs.description"
              name="description"
              #description="ngModel"
              required
              minlength="9"
              maxlength="400"
            />
            <div *ngIf="description.invalid && description.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="description.errors?.['required']">Mô tả bài viết là bắt buộc</strong>
              <strong *ngIf="description.errors?.['minlength']">Mô tả bài viết tối thiểu 9 kí tự</strong>
              <strong *ngIf="description.errors?.['maxlength']">Mô tả bài viết tối đa 400 kí tự</strong>
            </div>
            <label for="" class="form-label"
              >Nội dung bài viết</label
            >
            <ckeditor [(ngModel)]="editBlogs.content" #content ="ngModel" name="content"></ckeditor>

            <label for="description" class="form-label"
              >Thời gian đăng</label
            >
            <input
              type="date"
              class="form-control"
              [(ngModel)]="editBlogs.date"
              name="date"
              #date="ngModel"
              required
            />
            <div *ngIf="date.invalid && date.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="date.errors?.['required']">Thời gian đăng bài là bắt buộc</strong>
            </div>

            <label for="hashtags" class="form-label"
              >Thẻ bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="editBlogs.hashtags"
              name="hashtags"
              #hashtags="ngModel"
              required
            />
            <div *ngIf="hashtags.invalid && hashtags.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="hashtags.errors?.['required']">Thẻ bài viết là bắt buộc</strong>
            </div>

            <label for="hashtags" class="form-label"
              >Hình bài viết</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="editBlogs.images"
              name="images"
              #images="ngModel"
              required
            />
            <div *ngIf="images.invalid && images.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="images.errors?.['required']">Hình bài viết là bắt buộc</strong>
            </div>
            <label for="hashtags" class="form-label"
              >Hình tiêu đề</label
            >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="editBlogs.imagesThumbnails"
              name="imagesThumbnails"
              #imagesThumbnails="ngModel"
              required
            />
            <div *ngIf="imagesThumbnails.invalid && imagesThumbnails.dirty" class="alert alert-danger" role="alert">
              <strong *ngIf="imagesThumbnails.errors?.['required']">Hình tiêu đề là bắt buộc</strong>
            </div>

          </div>

          <button type="submit" class="btn btn-primary text-capitalize text-center">Chỉnh Sửa Bài Viết</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Edit -->
