<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 class="text-uppercase text-success">đăng nhập</h1>
          <h6>Vui lòng nhập email và password</h6>
        </div>
        <form [formGroup]="frmLogin" (submit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Tài khoản Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                formControlName="email"
              />
              <div class="form-text" *ngIf="frmLogin.get('email').invalid && frmLogin.get('email').dirty ">
                <strong *ngIf="frmLogin.get('email').errors?.required">Email là bắt buộc</strong>
                <strong *ngIf="frmLogin.get('email').errors?.email">Email không đúng định dạng</strong>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Mật khẩu</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                formControlName="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
        </form>
        <a [routerLink]="['/client/signup']">Tạo tài khoản ?</a>
      </div>
    </div>
  </div>
</div>
