<div class="container-fuild page">
  <div class="page_header contianer">
    <div class="page_header-title">Chuyện nhà</div>
    <div class="page_header-description">
      <p>
        The Coffee House sẽ là nơi mọi người xích lại gần nhau, đề cao giá trị
        kết nối con người và sẻ chia thân tình bên những tách cà phê, ly trà
        đượm hương, truyền cảm hứng về lối sống hiện đại.
      </p>
    </div>
    <div class="page_header-tabs">
      <ul>
        <li>
          <a href="">Tất cả</a>
        </li>
        <li>
          <a href="">Caffeeholic</a>
        </li>
        <li>
          <a href="">Teaholic</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row page_blog">
      <div class="col-lg-8">
        <div>
          <img
            src="/assets/blogs/blog1.jpg"
            alt=""
            style="height: 500px"
            class="image-thumb"
          />
          <h4 class="page_blog-name">
            NĂM MỚI, UỐNG "KHỞI ĐẦU SUNG" - NHẬN LÌ XÌ KHỦNG TẠI THE COFFEE
            HOUSE
          </h4>
          <p class="page_blog-date">21/01/2022</p>
          <p class="page_blog-description">
            Không chỉ mở cửa tưng bừng khắp cả nước, The Coffee House còn chơi
            lớn - lì xì cực khủng cho khách hàng ghé quán dịp Tết.
          </p>
          <p class="page_blog-hashtag">#inthemood</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <img
            src="/assets/blogs/blog2.jpg"
            alt=""
            style="height: 400px"
            class="image-thumb"
          />
          <h4 class="page_blog-name">
            NHỮNG LOẠI TRÀ CÓ HƯƠNG VÀ VỊ “ĐỔ GỤC” KHÁCH THĂM XUÂN NHÀ BẠN
          </h4>
          <p class="page_blog-date">21/01/2022</p>
          <p class="page_blog-description">
            Tết đang “lấp ló đầu ngõ” và bạn đang chuẩn bị cho một năm mới an
            khang, sum vầy. Tìm kiếm những thức trà, thức bánh thật ngon để tiếp
            đãi khách đến thăm nhà. Nếu vậy, Nhà sẽ bật mí những loại trà có
            hương và vị “đổ gục” những vị khách đến thăm xuân nhà bạn nhé!
          </p>
          <p class="page_blog-hashtag">#inthemood</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page_blog blog mw-100 row" >
    <div class="col-lg-6">
      <img src="/assets/blogs/blog3.jpg" class="blog-image" alt="" />
    </div>
    <div class="col-lg-6" style="margin-left: -130px;">
      <h2>Coffeeholic</h2>
      <div class="page_blog-list">
          <img src="/assets/blogs/blog4.jpg" class="image-blog" alt="" />
          <div class="blog-content">
            <h4 class="page_blog-name">
              CÁCH NHẬN BIẾT HƯƠNG VỊ CÀ PHÊ ROBUSTA NGUYÊN CHẤT DỄ DÀNG NHẤT
            </h4>
            <p class="page_blog-date">11/03/2022</p>
            <p class="page_blog-description">
              Nhiệt độ nước là một yếu tố quan trọng để có thể tạo nên những...
            </p>
          </div>
      </div>
      <div class="page_blog-list ">
        <img src="/assets/blogs/blog5.jpg" class="image-blog" alt="" />
        <div class="blog-content">
          <h4 class="page_blog-name">
            BẬT MÍ NHIỆT ĐỘ LÝ TƯỞNG ĐỂ PHA CÀ PHÊ NGON, ĐẬM ĐÀ HƯƠNG VỊ
          </h4>
          <p class="page_blog-date">11/03/2022</p>
          <p class="page_blog-description">
            CÁCH PHA CÀ PHÊ PHIN THƠM NGON TRÒN VỊ
          </p>
        </div>
    </div>
    <div class="page_blog-list ">
      <img src="/assets/blogs/blog6.jpg" class="image-blog" alt="" />
      <div class="blog-content">
        <h4 class="page_blog-name">
          CÁCH NHẬN BIẾT HƯƠNG VỊ CÀ PHÊ ROBUSTA NGUYÊN CHẤT DỄ DÀNG NHẤT
        </h4>
        <p class="page_blog-date">11/03/2022</p>
        <p class="page_blog-description">
          Có nhiều cách để pha một ly cà phê ngon, nhưng đối với nhiều người...
        </p>
      </div>
  </div>
    </div>
  </div>
</div>
