a {
  text-decoration: none;
}

.routerLinkActive {
  color: aquamarine;
}

.logo {
  width: 50%;
  overflow: hidden;
  margin-top: -50px;
  margin-bottom: -50px;
}

.content {
  margin-top: 40px;
}

.header {
  position: sticky;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  height: 95px;
  width: 100%;
}

.footer {
  background: #000000D9;
  padding-top: 34px;
  padding-bottom: 54px;

  h4 {
    color: #fff;
  }
  ul li {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: #fff;
      font-size: 12px
    }
  }
  p {
    color: #fff;
    font-size: 12px;
  }

}

.user {
  font-size: 12px;
  position: relative;
  &:hover {
    .hidden-menu {
      display: block;
      position: absolute;
    }
  }
}

.hidden-menu {
  display: none;
}

